<div class="img-box">
    <img class="home-img" src="./../../assets/HomePageAssets/0xAfricaHomeMain.png" alt="0xAfrica Banner">
</div>
<div class="img-box">
    <img class="home-img" src="./../../assets/HomePageAssets/0xAfricaHomeSecond.png" alt="0xAfrica Banner">
</div>
<div class="img-box">
    <img class="home-img" src="./../../assets/HomePageAssets/0xAfricaStaking.png" alt="0xAfrica Banner">
</div>

<style>
    .img-box{
    /* display: grid; */
    height: 100%;
  }

  .home-img{
    max-width: auto;
    max-height: 100vh;
    padding: 0%;
    margin: 0%;
  }
</style>
